Docs/Registro de usuario - Telegram + Google Sheets.json
{
  "name": "Registro de usuario - Telegram + Google Sheets",
  "nodes": [
    {
      "parameters": {
        "mode": "expression",
        "output": 3
      },
      "id": "6e0ba045-38ec-4fad-80c8-e50c3ec06aca",
      "name": "Router Estado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1264,
        624
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{ $('AI Agent1').item.json.output }}"
      },
      "id": "4dfbfdba-5eaa-4525-a2f6-b9700a6ec7ac",
      "name": "Router Menu Accion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -384,
        336
      ],
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Hola {{$json.username || 'estudiante'}}!\nSoy TutorBot. Elige una opcion:",
        "additionalFields": {}
      },
      "id": "bcf1f495-71e1-4991-88fb-20ea6e02c4c7",
      "name": "Enviar Menu Principal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        304,
        736
      ],
      "webhookId": "9f32b3ba-97be-4da7-8bab-1e117271dd63",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1050248974,
          "mode": "list",
          "cachedResultName": "tabla-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1050248974"
        },
        "options": {}
      },
      "id": "d1ee3bfd-7372-40ec-b394-bce9c43d7990",
      "name": "Set Sesion Materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1050248974,
          "mode": "list",
          "cachedResultName": "tabla-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1050248974"
        },
        "options": {}
      },
      "id": "3098c0a8-2efb-4bf8-a99b-bd707ef44342",
      "name": "Obtener Materias",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        256,
        0
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst materias = [...new Set(rows.flatMap(r => (r.especialidad_materias||'').split(',').map(m => m.trim()).filter(Boolean)))];\nconst keyboard = materias.map(m => [{ text: m, callback_data: 'MAT_' + m }]);\nconst prep = $('Preparar Datos').first().json;\nreturn [{ json: { chat_id: prep.chat_id, keyboard } }];"
      },
      "id": "f6f4f0ff-f21c-4dcc-95dc-8aa62fc326a9",
      "name": "Construir Teclado Materias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Selecciona la materia:",
        "additionalFields": {}
      },
      "id": "3ec87fec-2b65-4601-a661-064fe617663e",
      "name": "Enviar Teclado Materias",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        16
      ],
      "webhookId": "3fe53fe1-2daa-4c63-8714-62a8c4d06a87",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar Datos').first().json;\nconst rows = $input.all().map(i => i.json);\nlet texto = 'No tienes tutorias registradas.';\nif (rows.length) {\n  texto = rows.map(r => `Materia: ${r.materia}\\nFecha: ${r.fecha} ${r.hora}\\nEstado: ${r.estado}`).join('\\n\\n');\n}\nreturn [{ json: { chat_id: prep.chat_id, texto } }];"
      },
      "id": "c70d9528-8dee-43aa-a4e8-385b98b9d033",
      "name": "Formatear Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {}
      },
      "id": "dc3500d8-5dd8-4b98-a080-b9fdbcdd8413",
      "name": "Enviar Estado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        256
      ],
      "webhookId": "49ab3870-e414-4f9c-a867-07e7d713ef2f",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1050248974,
          "mode": "list",
          "cachedResultName": "tabla-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1050248974"
        },
        "options": {}
      },
      "id": "41e0baf1-683e-451a-b264-f007fb1168a8",
      "name": "Buscar Tutoria Activa",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1050248974,
          "mode": "list",
          "cachedResultName": "tabla-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1050248974"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false,
              "attemptToConvertTypes": false,
              "convertFieldsToString": false,
              "options": {}
            }
          ]
        },
        "options": {}
      },
      "id": "b144686e-4c97-49bc-8663-05f0cffd964f",
      "name": "Cancelar Tutoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        464
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "tabla-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 1
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false,
              "attemptToConvertTypes": false,
              "convertFieldsToString": false,
              "options": {}
            }
          ]
        },
        "options": {}
      },
      "id": "5548efcc-af65-46cd-bc40-fd09f605e052",
      "name": "Liberar Horario",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        432,
        480
      ],
      "notesInFlow": true,
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      },
      "notes": "Mostrar tabla de horario de tutorias."
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Una tutoria ha sido cancelada por el estudiante.",
        "additionalFields": {}
      },
      "id": "dd3aee8f-a820-4016-b8d1-7654faf33871",
      "name": "Notificar Cancelacion Tutor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        480
      ],
      "webhookId": "273c8bc6-4356-47ef-8ee4-68331a7693f1",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Datos').first().json.chat_id }}",
        "text": "Tu tutoria fue cancelada correctamente.",
        "additionalFields": {}
      },
      "id": "d28d09fc-9218-4ab2-a076-6ecd5223ddb7",
      "name": "Confirmar Cancelacion Estudiante",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        624
      ],
      "webhookId": "4acaaef5-f8d6-4367-85d2-5fdf3ac4081d",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Perfecto. Envia la fecha deseada en formato AAAA-MM-DD.",
        "additionalFields": {}
      },
      "id": "1e37e5d0-08d8-4161-ac87-20474706c2c5",
      "name": "Pedir Fecha",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        944
      ],
      "webhookId": "5ad15be0-8162-47d6-ab5c-34aca99e4ac5",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst texto = (j.entrada || '').trim();\nconst regex = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst fechaValida = regex.test(texto) && !isNaN(Date.parse(texto));\nconst dias = ['Domingo','Lunes','Martes','Miercoles','Jueves','Viernes','Sabado'];\nconst dia_semana = fechaValida ? dias[new Date(texto + 'T00:00:00').getDay()] : '';\nreturn [{ json: { ...j, fecha: texto, fechaValida, dia_semana } }];"
      },
      "id": "96eaa63b-e082-425d-bea5-d4697573e6b6",
      "name": "Validar Fecha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        1424
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.fechaValida }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "90a861a0-9fa8-4816-8a14-c241d9d979e0",
      "name": "Fecha Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        1424
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Formato de fecha invalido. Usa AAAA-MM-DD, por ejemplo 2026-07-15.",
        "additionalFields": {}
      },
      "id": "4dad56ff-2560-4bf3-b0d1-ec0cd7034c35",
      "name": "Error Fecha",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1072,
        896
      ],
      "webhookId": "ed6ac345-0d00-4294-8b6e-93bdb2786d7d",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "DISPONIBILIDAD",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "dia_semana",
              "lookupValue": "={{ $json.dia_semana }}"
            },
            {
              "lookupColumn": "estado",
              "lookupValue": "Libre"
            }
          ]
        },
        "options": {}
      },
      "id": "e8ed7db2-44ba-468e-8e75-cd3882715a7c",
      "name": "Buscar Tutores Disponibles",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        1376
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "No hay tutores disponibles ese dia para la materia seleccionada. Intenta con otra fecha.",
        "additionalFields": {}
      },
      "id": "64313c90-497b-421b-be6e-69780ad7e211",
      "name": "Sin Tutores Disponibles",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        992
      ],
      "webhookId": "ba2fa657-0a78-4365-8afd-90cb81813ffc",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "0ae6d65a-d2dc-4ccd-9e60-d3c79a80216b",
      "name": "Modelo Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        608,
        1376
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Eres el motor de asignacion de TutorBot. Recibes una lista de tutores disponibles en JSON: {{ JSON.stringify($input.all().map(i=>i.json)) }} para la materia guardada en sesion el dia {{ $('Validar Fecha').first().json.dia_semana }}. Elige el mejor tutor considerando especialidad y horario mas cercano. Responde SOLO en JSON con las llaves: id_tutor, nombre, hora_inicio, hora_fin, mensaje_amigable (mensaje corto en espanol explicando la sugerencia al estudiante).",
        "options": {
          "systemMessage": "Responde unicamente JSON valido, sin texto adicional ni markdown."
        }
      },
      "id": "f21b7216-816f-492a-9f83-ddd9f9b2bc82",
      "name": "Motor IA Asignacion",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        432,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "telegram_user"
          ],
          "value": {
            "telegram_user": "={{ $('Validar Fecha').first().json.telegram_user }}",
            "pantalla_actual": "CONFIRMACION",
            "datos_parciales": "={{ $json.output }}"
          }
        },
        "options": {}
      },
      "id": "2d84875e-3811-42ab-a89d-1930f9d4d41b",
      "name": "Guardar Sugerencia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1024,
        1152
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ JSON.parse($('Motor IA Asignacion').first().json.output).mensaje_amigable }}",
        "additionalFields": {}
      },
      "id": "fdf6b705-2b1c-4a94-aaa9-68e5504985f6",
      "name": "Enviar Sugerencia Tutor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        1152
      ],
      "webhookId": "c663b788-f612-4154-909b-1291fad78120",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "=1",
        "looseTypeValidation": true
      },
      "id": "cf4f548e-67a3-4d0f-ac85-763105d2ee20",
      "name": "Procesar Respuesta",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -368,
        1744
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "tutoria",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ok",
              "displayName": "ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "365c19dc-1e40-41ae-bdd4-a5c68d742d1c",
      "name": "Registrar Tutoria",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        160,
        1712
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "horario",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0858fdf7-4d9a-4245-be8e-f59b543cf01c",
      "name": "Ocupar Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        528,
        1648
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Se te ha asignado una nueva tutoria. Revisa tu agenda.",
        "additionalFields": {}
      },
      "id": "1c7c5408-1e8d-46ba-9256-06b54faef68a",
      "name": "Notificar Tutor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        1520
      ],
      "webhookId": "f71fed5e-ace8-40c3-89ec-506c566e047e",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_user }}",
        "text": "Tu tutoria fue confirmada. Exitos!",
        "additionalFields": {}
      },
      "id": "a4ba9b20-1f91-4580-b875-53050b9cd083",
      "name": "Confirmar Estudiante",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        976,
        1744
      ],
      "webhookId": "63bb010a-da2f-421f-ac16-b748a1572b77",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "telegram_user"
          ],
          "value": {
            "telegram_user": "={{ $json.telegram_user }}",
            "pantalla_actual": "MENU",
            "datos_parciales": ""
          }
        },
        "options": {}
      },
      "id": "f4374235-9804-4372-a124-06925c014554",
      "name": "Resetear Sesion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1344,
        1552
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Registro",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_login",
              "displayName": "id_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_usuario",
              "displayName": "nombre_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_login",
              "displayName": "fecha_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_login",
              "displayName": "hora_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_logout",
              "displayName": "fecha_logout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_logout",
              "displayName": "hora_logout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "duracion_sesion",
              "displayName": "duracion_sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4bfcd939-09ee-411a-8850-8dd2d0346820",
      "name": "Volver A Materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1392,
        1808
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "telegram_user"
          ],
          "value": {
            "telegram_user": "={{ $json.telegram_user }}",
            "pantalla_actual": "MENU",
            "datos_parciales": ""
          }
        },
        "options": {}
      },
      "id": "cefbf0eb-c13a-460f-a7ab-cba53b95cf14",
      "name": "Cancelar Desde Confirmacion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        2080
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "numberInputs": 12
      },
      "id": "96c1ead0-993d-49a5-83be-ee70b7ea9045",
      "name": "Merge Final",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1696,
        640
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701065936,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1701065936"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_login",
              "displayName": "id_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_usuario",
              "displayName": "nombre_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_login",
              "displayName": "fecha_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_login",
              "displayName": "hora_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_logout",
              "displayName": "fecha_logout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_logout",
              "displayName": "hora_logout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "duracion_sesion",
              "displayName": "duracion_sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6282c784-7d76-458e-9e01-2f2670db73de",
      "name": "Registrar Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1952,
        784
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "04a44591-636b-47b0-b0a6-72262b171e6e",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        2112
      ]
    },
    {
      "parameters": {
        "chatId": "REEMPLAZAR_CHAT_ID_ADMIN",
        "text": "Error en TutorBot\nWorkflow: {{$json.workflow.name}}\nNodo: {{$json.execution.lastNodeExecuted}}\nError: {{$json.execution.error.message}}",
        "additionalFields": {}
      },
      "id": "32957f61-83c9-4a32-91d8-ed9d3eb2fcc7",
      "name": "Notificar Error Admin",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        2064
      ],
      "webhookId": "a57abba8-584b-49e3-af2d-7effc183f7da",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "ERROR_LOG",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $now.toISO() }}",
            "workflow": "={{ $json.workflow.name }}",
            "nodo": "={{ $json.execution.lastNodeExecuted }}",
            "mensaje": "={{ $json.execution.error.message }}"
          }
        },
        "options": {}
      },
      "id": "cef6d7a3-73df-42d2-a50e-47bf74530ed5",
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        16,
        2176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "telegram_user"
          ],
          "value": {
            "telegram_user": "={{ $json.telegram_user }}",
            "pantalla_actual": "FECHA",
            "datos_parciales": "={{ JSON.stringify({ materia: $json.entrada.replace('MAT_','') }) }}"
          }
        },
        "options": {}
      },
      "id": "44e1fb9f-afa1-42c3-bbe4-080ca648672f",
      "name": "Guardar Materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -304,
        944
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3dcef47a-9740-4a85-8569-880d657f25d7",
      "name": "Hay Tutor Disponible?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        1232
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701065936,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1701065936"
        },
        "filtersUI": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        256
      ],
      "id": "ceba85cd-3d67-446b-8adb-950b67810ed1",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente de asignacion y consulta de tutorias, usa la base de datos de google sheets para verificar las credenciales de usuario y sino existe despliega el menu para registrar al nuevo usuario, revisa al usuarioi en la tabla registro si el usuario no es encontrado que despliege una opcion para que el nuevo usuario se pueda registrar "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3120,
        704
      ],
      "id": "b2069e36-a478-4293-b16b-7a7aecdb204d",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 2048125458
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -3376,
        992
      ],
      "id": "447f992a-2f2d-4849-93c2-63bc2057c135",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "09ny89Wu5ijja6xc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "AQ.Ab8RN6Lu66EUcgmtLj5C0pyaGId3sWJQoS2NdGhEdjqIFT6yWA"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -3072,
        1008
      ],
      "id": "b19aa391-6a0a-4c00-b255-c6fb524e7fb2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701065936,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1701065936"
        },
        "startIndex": 1
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2848,
        992
      ],
      "id": "a88e3302-232d-43f3-8af7-a772f2b79937",
      "name": "Delete rows or columns from sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -3552,
        784
      ],
      "id": "9311ece8-44f0-41b2-8a99-5ea5b00ee979",
      "name": "Telegram Trigger",
      "webhookId": "f369ab9c-2710-457c-abeb-73bee34b8f1a",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "83e1aa9e-4396-435f-8023-2296dc426476",
              "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][0].text }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "8151f6b9-4b97-4581-99bf-44946cba8b2a",
              "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][1].text }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2208,
        720
      ],
      "id": "b648c32a-eb24-4b6e-a207-4499e1224267",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Registro",
          "mode": "name"
        },
        "options": {}
      },
      "id": "c218bad4-61f5-478f-8529-19b6d21ae981",
      "name": "Buscar usuario en Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2432,
        1264
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "0b0cfcd5-906b-44b2-b14c-0ea3a5f05f53"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4f12a842-09e7-49fe-b556-d6411fdadfc1",
      "name": "¿Usuario existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2272,
        1264
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id_login",
              "name": "id_login",
              "value": "={{ $now.format('X') }}",
              "type": "string"
            },
            {
              "id": "telegram_user",
              "name": "telegram_user",
              "value": "={{ $json.telegram_user }}",
              "type": "string"
            },
            {
              "id": "nombre_usuario",
              "name": "nombre_usuario",
              "value": "={{ $json.nombre_usuario }}",
              "type": "string"
            },
            {
              "id": "fecha_login",
              "name": "fecha_login",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "hora_login",
              "name": "hora_login",
              "value": "={{ $now.format('HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "fecha_logout",
              "name": "fecha_logout",
              "value": "",
              "type": "string"
            },
            {
              "id": "hora_logout",
              "name": "hora_logout",
              "value": "",
              "type": "string"
            },
            {
              "id": "estado",
              "name": "estado",
              "value": "activo",
              "type": "string"
            },
            {
              "id": "duracion_sesion",
              "name": "duracion_sesion",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3b44c55c-13b4-4236-9c71-27edd42ccac1",
      "name": "Armar registro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2048,
        1280
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Registro",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_login",
              "displayName": "id_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_usuario",
              "displayName": "nombre_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_login",
              "displayName": "fecha_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_login",
              "displayName": "hora_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_logout",
              "displayName": "fecha_logout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_logout",
              "displayName": "hora_logout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "duracion_sesion",
              "displayName": "duracion_sesion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bf95a14a-c97c-41c9-aea9-72762f5a1f05",
      "name": "Sheets: Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1872,
        1280
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Qn7xclP7QXtBetMn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=¡Registro completado, {{ $json.nombre_usuario }}! Ya puedes usar el sistema.",
        "additionalFields": {}
      },
      "id": "bea6e9c7-6377-40df-9b89-aea0007e42a1",
      "name": "Confirmar registro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1696,
        1280
      ],
      "webhookId": "9888a262-4d93-4c18-90c0-643a10e9da36",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "amount": 8
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2464,
        720
      ],
      "id": "1df2a639-f8f7-4d82-8d1e-39f46e0aeb62",
      "name": "Wait",
      "webhookId": "8cb2db77-afa2-4dfa-bec3-f7cd7b85bbf1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "si tengo cuenta",
                    "additionalFields": {
                      "callback_data": "true"
                    }
                  },
                  {
                    "text": "no tengo cuenta",
                    "additionalFields": {
                      "callback_data": "false"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2704,
        752
      ],
      "id": "a05a3643-8b16-4f74-9c53-03664787fcf6",
      "name": "Send a text message",
      "webhookId": "304ff6d7-5659-42ae-9d05-c1072404c732",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Seleccione un opcion",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "01",
                    "additionalFields": {
                      "callback_data": "1"
                    }
                  },
                  {
                    "text": "02",
                    "additionalFields": {
                      "callback_data": "2"
                    }
                  },
                  {
                    "text": "03",
                    "additionalFields": {
                      "callback_data": "3"
                    }
                  },
                  {
                    "text": "04",
                    "additionalFields": {
                      "callback_data": "4"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1728,
        672
      ],
      "id": "dfe464b4-6aa8-4086-966b-6550f962573d",
      "name": "Send a text message1",
      "webhookId": "982263be-587e-4588-8ec0-e12f2b89a360",
      "credentials": {
        "telegramApi": {
          "id": "PKvNx5Rzm9PiyWqH",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Router Estado": {
      "main": [
        [
          {
            "node": "Router Menu Accion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Procesar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Menu Accion": {
      "main": [
        [
          {
            "node": "Set Sesion Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Tutoria Activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sesion Materia": {
      "main": [
        [
          {
            "node": "Obtener Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Materias": {
      "main": [
        [
          {
            "node": "Construir Teclado Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Teclado Materias": {
      "main": [
        [
          {
            "node": "Enviar Teclado Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Estado": {
      "main": [
        [
          {
            "node": "Enviar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutoria Activa": {
      "main": [
        [
          {
            "node": "Cancelar Tutoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Tutoria": {
      "main": [
        [
          {
            "node": "Liberar Horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Liberar Horario": {
      "main": [
        [
          {
            "node": "Notificar Cancelacion Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Fecha": {
      "main": [
        [
          {
            "node": "Fecha Valida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fecha Valida?": {
      "main": [
        [
          {
            "node": "Buscar Tutores Disponibles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutores Disponibles": {
      "main": [
        [
          {
            "node": "Hay Tutor Disponible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Motor IA Asignacion",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Motor IA Asignacion": {
      "main": [
        [
          {
            "node": "Guardar Sugerencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sugerencia": {
      "main": [
        [
          {
            "node": "Enviar Sugerencia Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta": {
      "main": [
        [
          {
            "node": "Registrar Tutoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Volver A Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar Desde Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Tutoria": {
      "main": [
        [
          {
            "node": "Ocupar Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ocupar Disponibilidad": {
      "main": [
        [
          {
            "node": "Notificar Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Tutor": {
      "main": [
        [
          {
            "node": "Resetear Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Estudiante": {
      "main": [
        [
          {
            "node": "Resetear Sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Cancelacion Tutor": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Menu Principal": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Enviar Teclado Materias": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Enviar Estado": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Confirmar Cancelacion Estudiante": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Pedir Fecha": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Error Fecha": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Sin Tutores Disponibles": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Enviar Sugerencia Tutor": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Resetear Sesion": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Volver A Materia": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 10
          }
        ]
      ]
    },
    "Cancelar Desde Confirmacion": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 11
          }
        ]
      ]
    },
    "Merge Final": {
      "main": [
        [
          {
            "node": "Registrar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Notificar Error Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Error Admin": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Materia": {
      "main": [
        [
          {
            "node": "Pedir Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Tutor Disponible?": {
      "main": [
        [
          {
            "node": "Motor IA Asignacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Tutores Disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Formatear Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar usuario en Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar usuario en Sheets": {
      "main": [
        [
          {
            "node": "¿Usuario existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario existe?": {
      "main": [
        [],
        [
          {
            "node": "Armar registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar registro": {
      "main": [
        [
          {
            "node": "Sheets: Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Append Row": {
      "main": [
        [
          {
            "node": "Confirmar registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Router Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ebd458b6-c69d-42d0-b872-888e2a20074d",
  "meta": {
    "instanceId": "afac2d4005fe5f44db73238ba3a6293742946a92191fad6e0cbb5ee5e7e070df"
  },
  "nodeGroups": [],
  "id": "fmclxK00l8ApqAV2",
  "tags": []
}