Docs/shen.json
{
    "name": "TutorFlowCompleto",
    "nodes": [
      {
        "parameters": {
          "updates": ["message", "callback_query", "inline_query"],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.3,
        "position": [-2800, 400],
        "id": "telegram-trigger-main",
        "name": "Telegram Trigger",
        "webhookId": "WEBHOOK_ID_TELEGRAM",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.message.chat.id }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.4,
        "position": [-2600, 600],
        "id": "memory-buffer",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash",
          "options": {"maxOutputTokens": 2048}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [-2600, 500],
        "id": "gemini-model",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "CREDENTIALS_GEMINI",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.message.text }}",
          "options": {
            "systemMessage": "Eres el Asistente Inteligente TutorFlow. Tu función es guiar estudiantes en solicitar tutorías.\n\nOpciones disponibles:\n1. /solicitar - Solicitar nueva tutoría\n2. /estado - Ver estado de mis solicitudes\n3. /registrarse - Registrarse como estudiante\n4. /ayuda - Ver comandos disponibles\n\nSiempre responde de forma amigable y clara."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [-2400, 400],
        "id": "ia-agent-main",
        "name": "AI Agent Main",
        "alwaysOutputData": true,
        "retryOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-solicitar",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "/solicitar",
                "operator": {"type": "string", "operation": "contains"}
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [-2100, 200],
        "id": "if-solicitar",
        "name": "¿Solicitar Tutoría?",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-estado",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "/estado",
                "operator": {"type": "string", "operation": "contains"}
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [-2100, 400],
        "id": "if-estado",
        "name": "¿Ver Estado?",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-registro",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "/registrarse",
                "operator": {"type": "string", "operation": "contains"}
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [-2100, 600],
        "id": "if-registro",
        "name": "¿Registrarse?",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "documentId": {"__rl": true, "value": "REEMPLAZAR_SHEET_ID", "mode": "id"},
          "sheetName": {"__rl": true, "value": "TUTORES", "mode": "name"},
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [-1600, 100],
        "id": "get-tutores",
        "name": "Get Tutores",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CREDENTIALS_SHEETS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {"__rl": true, "value": "REEMPLAZAR_SHEET_ID", "mode": "id"},
          "sheetName": {"__rl": true, "value": "TUTORIAS", "mode": "name"},
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [-1600, 550],
        "id": "get-tutorias",
        "name": "Get Tutorias",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CREDENTIALS_SHEETS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rows = $input.all().map(i => i.json);\nconst materias = [...new Set(rows.flatMap(r => (r.especialidad_materias||'').split(',').map(m => m.trim()).filter(Boolean)))];\nconst keyboard = materias.map(m => [{ text: m, callback_data: 'MAT_' + m }]);\nreturn { json: { keyboard, materias } };"
        },
        "id": "code-build-subjects",
        "name": "Construir Teclado Materias",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-1300, 100]
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "📚 Selecciona la materia para la que necesitas tutoría:",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": "={{ $('Construir Teclado Materias').item.json.keyboard.map(k => ({ row: { buttons: k.map(b => ({ text: b.text, additionalFields: { callback_data: b.callback_data } })) } })) }}"
          },
          "additionalFields": {}
        },
        "id": "telegram-send-subjects",
        "name": "Enviar Materias",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [-1000, 100],
        "webhookId": "WEBHOOK_TELEGRAM_SUBJECTS",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "📅 Ingresa la fecha que deseas (formato: AAAA-MM-DD):",
          "additionalFields": {}
        },
        "id": "telegram-ask-date",
        "name": "Pedir Fecha",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [-1000, 250],
        "webhookId": "WEBHOOK_TELEGRAM_DATE",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const fecha = $json.message.text;\nconst regex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif(!regex.test(fecha)) {\n  return { json: { valido: false, mensaje: '❌ Formato inválido. Por favor usa AAAA-MM-DD (ejemplo: 2025-01-15)' } };\n}\nreturn { json: { valido: true, fecha } };"
        },
        "id": "code-validate-date",
        "name": "Validar Fecha",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-800, 250]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-fecha-valida",
                "leftValue": "={{ $json.valido }}",
                "rightValue": true,
                "operator": {"type": "boolean", "operation": "equals"}
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [-600, 250],
        "id": "if-fecha-valida",
        "name": "¿Fecha válida?",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const materia = $json.entrada.replace('MAT_', '');\nconst fecha = $('Validar Fecha').item.json.fecha;\nconst tutores = $('Get Tutores').item.json;\n\nconst tutoresMateria = tutores.filter(t => \n  (t.especialidad_materias || '').includes(materia) && t.estado === 'Activo'\n);\n\nconst sugerencias = tutoresMateria.map(t => ({\n  id_tutor: t.id_tutor,\n  nombre: t.nombre,\n  materia: materia,\n  fecha: fecha\n})).slice(0, 3);\n\nif(sugerencias.length === 0) {\n  return { json: { error: true, mensaje: '❌ No hay tutores disponibles para esta materia en esa fecha.' } };\n}\n\nreturn { json: { sugerencias, cantidad: sugerencias.length } };"
        },
        "id": "code-find-tutors",
        "name": "Buscar Tutores",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-400, 100]
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "✅ Tutores disponibles para {{ $('Buscar Tutores').item.json.sugerencias[0].materia }} en {{ $('Buscar Tutores').item.json.sugerencias[0].fecha }}:\n\n{{ $('Buscar Tutores').item.json.sugerencias.map((t, i) => `${i+1}. ${t.nombre}`).join('\\n') }}",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": "={{ $('Buscar Tutores').item.json.sugerencias.map((t, i) => ({ row: { buttons: [{ text: `${i+1}. ${t.nombre}`, additionalFields: { callback_data: `TUTOR_${t.id_tutor}` } }] } })) }}"
          },
          "additionalFields": {}
        },
        "id": "telegram-send-tutors",
        "name": "Enviar Tutores",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [-200, 100],
        "webhookId": "WEBHOOK_TELEGRAM_TUTORS",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {"__rl": true, "value": "REEMPLAZAR_SHEET_ID", "mode": "id"},
          "sheetName": {"__rl": true, "value": "TUTORIAS", "mode": "name"},
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id_tutoria": "={{ Date.now() }}",
              "id_estudiante": "={{ $json.message.chat.id }}",
              "id_tutor": "={{ $json.entrada.replace('TUTOR_', '') }}",
              "materia": "RELLENAR_MATERIA",
              "fecha": "RELLENAR_FECHA",
              "hora": "RELLENAR_HORA",
              "estado": "Asignada"
            },
            "matchingColumns": [],
            "schema": []
          },
          "options": {}
        },
        "id": "sheets-append-tutoria",
        "name": "Guardar Tutoría",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [0, 100],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CREDENTIALS_SHEETS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "✅ ¡Tutoría confirmada! Te enviaremos los detalles del tutor en breve.",
          "additionalFields": {}
        },
        "id": "telegram-confirm-tutoria",
        "name": "Confirmar Tutoría",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [200, 100],
        "webhookId": "WEBHOOK_TELEGRAM_CONFIRM",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {"__rl": true, "value": "REEMPLAZAR_SHEET_ID", "mode": "id"},
          "sheetName": {"__rl": true, "value": "ESTUDIANTES", "mode": "name"},
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id_estudiante": "={{ $json.message.chat.id }}",
              "telegram_id": "={{ $json.message.from.id }}",
              "username": "={{ $json.message.from.username || 'sin_username' }}",
              "nombre": "RELLENAR_NOMBRE",
              "apellido": "RELLENAR_APELLIDO",
              "correo": "RELLENAR_CORREO",
              "telefono": "RELLENAR_TELEFONO",
              "carrera": "RELLENAR_CARRERA",
              "semestre": "RELLENAR_SEMESTRE",
              "estado": "Activo",
              "fecha_registro": "={{ new Date().toISOString().split('T')[0] }}"
            },
            "matchingColumns": [],
            "schema": []
          },
          "options": {}
        },
        "id": "sheets-append-student",
        "name": "Registrar Estudiante",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [-200, 400],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "CREDENTIALS_SHEETS",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "chatId": "={{ $json.message.chat.id }}",
          "message": "📋 Completa tu registro como estudiante:",
          "responseType": "customForm",
          "defineForm": "json",
          "jsonOutput": "[\n  {\n    \"fieldLabel\": \"Nombre\",\n    \"placeholder\": \"Tu nombre completo\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Apellido\",\n    \"placeholder\": \"Tu apellido\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Correo\",\n    \"fieldType\": \"email\",\n    \"placeholder\": \"correo@ejemplo.com\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Teléfono\",\n    \"fieldType\": \"number\",\n    \"placeholder\": \"1234567890\",\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Carrera\",\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": [\n        { \"option\": \"Ingeniería en Sistemas\" },\n        { \"option\": \"Administración de Empresas\" },\n        { \"option\": \"Ingeniería Industrial\" },\n        { \"option\": \"Derecho\" },\n        { \"option\": \"Medicina\" },\n        { \"option\": \"Otra\" }\n      ]\n    },\n    \"requiredField\": true\n  },\n  {\n    \"fieldLabel\": \"Semestre\",\n    \"fieldType\": \"number\",\n    \"placeholder\": \"1-10\",\n    \"requiredField\": true\n  }\n]",
          "options": {
            "responseFormTitle": "Formulario de Registro Estudiante"
          }
        },
        "id": "telegram-form-student",
        "name": "Formulario Registro",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [-400, 400],
        "webhookId": "WEBHOOK_TELEGRAM_FORM",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "📊 Mis Solicitudes de Tutoría:\n\n{{ $('Get Tutorias').item.json.filter(t => String(t.id_estudiante) === String($json.message.chat.id)).map(t => `📌 Materia: ${t.materia}\\n📅 Fecha: ${t.fecha}\\n⏰ Hora: ${t.hora}\\n✓ Estado: ${t.estado}\\n---`).join('\\n') || '❌ No tienes solicitudes registradas' }}",
          "additionalFields": {}
        },
        "id": "telegram-show-status",
        "name": "Mostrar Estado",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [-200, 400],
        "webhookId": "WEBHOOK_TELEGRAM_STATUS",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "{{ $('Validar Fecha').item.json.mensaje }}",
          "additionalFields": {}
        },
        "id": "telegram-error-date",
        "name": "Error en Fecha",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [-400, 300],
        "webhookId": "WEBHOOK_TELEGRAM_ERROR",
        "credentials": {
          "telegramApi": {
            "id": "CREDENTIALS_TELEGRAM",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [[{"node": "AI Agent Main", "type": "main", "index": 0}]]
      },
      "Simple Memory": {
        "ai_memory": [[{"node": "AI Agent Main", "type": "ai_memory", "index": 0}]]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [[{"node": "AI Agent Main", "type": "ai_languageModel", "index": 0}]]
      },
      "AI Agent Main": {
        "main": [[{"node": "¿Solicitar Tutoría?", "type": "main", "index": 0}, {"node": "¿Ver Estado?", "type": "main", "index": 0}, {"node": "¿Registrarse?", "type": "main", "index": 0}]]
      },
      "¿Solicitar Tutoría?": {
        "main": [[{"node": "Get Tutores", "type": "main", "index": 0}], []]
      },
      "¿Ver Estado?": {
        "main": [[{"node": "Get Tutorias", "type": "main", "index": 0}], []]
      },
      "¿Registrarse?": {
        "main": [[{"node": "Formulario Registro", "type": "main", "index": 0}], []]
      },
      "Get Tutores": {
        "main": [[{"node": "Construir Teclado Materias", "type": "main", "index": 0}]]
      },
      "Construir Teclado Materias": {
        "main": [[{"node": "Enviar Materias", "type": "main", "index": 0}]]
      },
      "Enviar Materias": {
        "main": [[{"node": "Pedir Fecha", "type": "main", "index": 0}]]
      },
      "Pedir Fecha": {
        "main": [[{"node": "Validar Fecha", "type": "main", "index": 0}]]
      },
      "Validar Fecha": {
        "main": [[{"node": "¿Fecha válida?", "type": "main", "index": 0}]]
      },
      "¿Fecha válida?": {
        "main": [[{"node": "Buscar Tutores", "type": "main", "index": 0}], [{"node": "Error en Fecha", "type": "main", "index": 0}]]
      },
      "Buscar Tutores": {
        "main": [[{"node": "Enviar Tutores", "type": "main", "index": 0}]]
      },
      "Enviar Tutores": {
        "main": [[{"node": "Guardar Tutoría", "type": "main", "index": 0}]]
      },
      "Guardar Tutoría": {
        "main": [[{"node": "Confirmar Tutoría", "type": "main", "index": 0}]]
      },
      "Formulario Registro": {
        "main": [[{"node": "Registrar Estudiante", "type": "main", "index": 0}]]
      },
      "Get Tutorias": {
        "main": [[{"node": "Mostrar Estado", "type": "main", "index": 0}]]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate"
    }
  }