Docs/TutorFlowFinal.json
{
  "name": "TutorFlowFinal",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][0].text }}",
                    "rightValue": "={{ $json.result.reply_markup.inline_keyboard[0][0].callback_data }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "equals"
                    },
                    "id": "04fc154a-ee69-4098-8991-fbee030d4a25"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion 0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "54f7ed46-eebc-4bfd-9a34-2db33ba154b7",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][1].text }}",
                    "rightValue": "={{ $json.result.reply_markup.inline_keyboard[0][1].callback_data }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion 1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9173cad2-b94b-4d3a-9587-2b355fb51ecb",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][2].text }}",
                    "rightValue": "={{ $json.result.reply_markup.inline_keyboard[0][2].callback_data }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion 2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ff2a0909-eec4-4881-bdcd-1f8c628ad826",
                    "leftValue": "={{ $json.result.reply_markup.inline_keyboard[0][3].text }}",
                    "rightValue": "={{ $json.result.reply_markup.inline_keyboard[0][3].callback_data }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opcion 3"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "a0e078bd-82f9-4da3-95e1-cb3038436abf",
      "name": "Router Estado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2400,
        624
      ],
      "retryOnFail": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1050248974,
          "mode": "list",
          "cachedResultName": "tabla-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1050248974"
        },
        "options": {}
      },
      "id": "daefb12f-3261-4978-a9f8-4cb92642e1bc",
      "name": "Set Sesion Materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2112,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bo0lXJtpEEhTNEVd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1050248974,
          "mode": "list",
          "cachedResultName": "tabla-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1050248974"
        },
        "options": {}
      },
      "id": "07c9a1a4-0e21-4f3d-9b2d-17757ee310af",
      "name": "Obtener Materias",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1904,
        336
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bo0lXJtpEEhTNEVd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst materias = [...new Set(rows.flatMap(r => (r.especialidad_materias||'').split(',').map(m => m.trim()).filter(Boolean)))];\nconst keyboard = materias.map(m => [{ text: m, callback_data: 'MAT_' + m }]);\nconst prep = $('Preparar Datos').first().json;\nreturn [{ json: { chat_id: prep.chat_id, keyboard } }];"
      },
      "id": "4f231a96-5297-446b-82fa-2bd886a8dc22",
      "name": "Construir Teclado Materias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        336
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Selecciona la materia:",
        "additionalFields": {}
      },
      "id": "9f32f9d3-95b0-499a-8205-79970a3dc253",
      "name": "Enviar Teclado Materias",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1472,
        336
      ],
      "webhookId": "3fe53fe1-2daa-4c63-8714-62a8c4d06a87",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('Preparar Datos').first().json;\nconst rows = $input.all().map(i => i.json);\nlet texto = 'No tienes tutorias registradas.';\nif (rows.length) {\n  texto = rows.map(r => `Materia: ${r.materia}\\nFecha: ${r.fecha} ${r.hora}\\nEstado: ${r.estado}`).join('\\n\\n');\n}\nreturn [{ json: { chat_id: prep.chat_id, texto } }];"
      },
      "id": "b6f74d41-a59c-41b4-b96a-f82fa8688edd",
      "name": "Formatear Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        576
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {}
      },
      "id": "bd9d8697-3254-41c4-b42a-4777e56d5beb",
      "name": "Enviar Estado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1456,
        576
      ],
      "webhookId": "49ab3870-e414-4f9c-a867-07e7d713ef2f",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Perfecto. Envia la fecha deseada en formato AAAA-MM-DD.",
        "additionalFields": {}
      },
      "id": "c66cf276-4743-4828-9372-97f5a713484b",
      "name": "Pedir Fecha",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1456,
        784
      ],
      "webhookId": "5ad15be0-8162-47d6-ab5c-34aca99e4ac5",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "telegram_user"
          ],
          "value": {
            "telegram_user": "={{ $('Validar Fecha').first().json.telegram_user }}",
            "pantalla_actual": "CONFIRMACION",
            "datos_parciales": "={{ $json.output }}"
          }
        },
        "options": {}
      },
      "id": "59a827bc-fd47-4f92-93f7-6f0d2001758f",
      "name": "Guardar Sugerencia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2080,
        1088
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bo0lXJtpEEhTNEVd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ JSON.parse($('Motor IA Asignacion').first().json.output).mensaje_amigable }}",
        "additionalFields": {}
      },
      "id": "c2fb32ee-9502-4fc3-9963-bf0b50ef83fb",
      "name": "Enviar Sugerencia Tutor",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1440,
        1072
      ],
      "webhookId": "c663b788-f612-4154-909b-1291fad78120",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_ID_GOOGLE_SHEETS",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "SESSIONS",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "telegram_user"
          ],
          "value": {
            "telegram_user": "={{ $json.telegram_user }}",
            "pantalla_actual": "FECHA",
            "datos_parciales": "={{ JSON.stringify({ materia: $json.entrada.replace('MAT_','') }) }}"
          }
        },
        "options": {}
      },
      "id": "7af23590-dfaa-4708-9f84-9d5df2cf5766",
      "name": "Guardar Materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2112,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bo0lXJtpEEhTNEVd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "list",
          "cachedResultName": "Base_de_datos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1701065936,
          "mode": "list",
          "cachedResultName": "Registro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1701065936"
        },
        "filtersUI": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2112,
        592
      ],
      "id": "53804b5b-c704-43f5-8c84-bd7bb170ae34",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bo0lXJtpEEhTNEVd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Rol: Eres el Asistente Inteligente de Gestión Académica. Tu función principal es gestionar el acceso a tutorías y validar las credenciales de los estudiantes utilizando la base de datos de Google Sheets conectada.\n\nTus Objetivos:\n\n    Verificación: Al recibir una consulta, solicita el identificador único del estudiante (ej. ID o correo electrónico). Consulta la base de datos para validar si el usuario existe y tiene acceso a las tutorías.\n\n    Gestión de Registro: Si el usuario no se encuentra en la base de datos, mantén un tono amable y profesional. Informa que no constan sus registros y proporciona instrucciones claras sobre cómo debe realizar su proceso de inscripción inicial antes de poder agendar tutorías.\n\n    Seguridad: No reveles información sensible de otros usuarios. Si la conexión con Google Sheets falla, notifica al usuario que el sistema está en mantenimiento y solicita que intente más tarde.\n\nDirectrices de Interacción:\n\n    Tono: Empático, eficiente y servicial.\n\n    Formato: Si el usuario es válido, confirma su nombre y pregunta qué tutoría desea consultar.\n\n    Manejo de Errores: Si la búsqueda devuelve \"no encontrado\", responde únicamente con: \"No hemos encontrado tu registro. Para comenzar con las tutorías, primero debes realizar tu registro oficial en [Enlace de Registro]\".\n\nRestricciones:\n\n    Nunca intentes modificar, borrar o añadir datos a la hoja de cálculo sin una instrucción explícita.\n\n    Si el usuario pregunta algo fuera de tu alcance (gestión de tutorías), redirígelo amablemente al área correspondiente.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -3968,
        1008
      ],
      "id": "eb6bf091-fc4e-4b82-83df-4709c54be901",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "AQ.Ab8RN6Iauo953MPDFFyV5Mh8TpYuKqUfDYQkODRIAHDEd8Sgew"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -3920,
        1184
      ],
      "id": "65483b0d-ae91-4f72-9eeb-76367a0cb853",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -4112,
        1008
      ],
      "id": "26b4c8eb-cfea-402c-9323-26798df7b0f8",
      "name": "Telegram Trigger",
      "webhookId": "f369ab9c-2710-457c-abeb-73bee34b8f1a",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1671690941,
          "mode": "list",
          "cachedResultName": "ESTUDIANTES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=1671690941"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_id",
              "displayName": "telegram_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apellido",
              "displayName": "apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carrera",
              "displayName": "carrera",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "semestre",
              "displayName": "semestre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_registro",
              "displayName": "fecha_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fddb2803-b26d-4850-9474-045c5082b77a",
      "name": "Sheets: Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3024,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bo0lXJtpEEhTNEVd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=¡Registro completado, {{ $json.nombre_usuario }}! Ya puedes usar el sistema.",
        "additionalFields": {}
      },
      "id": "e4e2f688-88ae-4bbc-b4d1-7dcc09c098ea",
      "name": "Confirmar registro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2864,
        768
      ],
      "webhookId": "9888a262-4d93-4c18-90c0-643a10e9da36",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "={{ $json.result.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        752
      ],
      "id": "df982bc3-833b-4355-800e-2fb3138f326f",
      "name": "Get a chat",
      "webhookId": "982263be-587e-4588-8ec0-e12f2b89a360",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -4064,
        1184
      ],
      "id": "29218339-eef9-47fc-955a-10d7c2b5dbd0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OmaEYqRFjo9lEpXk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "be7e0d69-22e4-445f-8076-ec2fc3c609ba"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6394e6ed-5f4e-45f1-88d9-0432ce428e6c",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3440,
        1024
      ],
      "id": "df6f2bfb-b81c-4c4a-baf5-657d767365ff",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3648,
        1024
      ],
      "id": "f6a84194-04b1-47d1-8d6c-7e95209b63f8",
      "name": "Get a chat1",
      "webhookId": "c99e65cc-88bc-40da-9d28-373f9a3b491e",
      "credentials": {
        "telegramApi": {
          "id": "bWHtGFpyp9oZgZqP",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Router Estado": {
      "main": [
        [
          {
            "node": "Set Sesion Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Sugerencia",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Set Sesion Materia": {
      "main": [
        [
          {
            "node": "Obtener Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Materias": {
      "main": [
        [
          {
            "node": "Construir Teclado Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Teclado Materias": {
      "main": [
        [
          {
            "node": "Enviar Teclado Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Estado": {
      "main": [
        [
          {
            "node": "Enviar Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Sugerencia": {
      "main": [
        [
          {
            "node": "Enviar Sugerencia Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Teclado Materias": {
      "main": [
        []
      ]
    },
    "Enviar Estado": {
      "main": [
        []
      ]
    },
    "Pedir Fecha": {
      "main": [
        []
      ]
    },
    "Enviar Sugerencia Tutor": {
      "main": [
        []
      ]
    },
    "Guardar Materia": {
      "main": [
        [
          {
            "node": "Pedir Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Formatear Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Get a chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets: Append Row": {
      "main": [
        [
          {
            "node": "Confirmar registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar registro": {
      "main": [
        [
          {
            "node": "Get a chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a chat": {
      "main": [
        [
          {
            "node": "Router Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sheets: Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a chat1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3dff3d49-02b2-4c8a-a606-260525f73043",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "682a894b31f4530a3cfaf3477c6b21559979ba9e1cf0b4098bfd29242a8b5ce4"
  },
  "id": "LHYcpLOIRDuH0Psk",
  "tags": []
}