Docs/WorkflowEtapa1.json
{
    "name": "My workflow",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.3,
        "position": [
          -624,
          -496
        ],
        "id": "401e979c-2dd8-449e-a24d-3fc324f3b083",
        "name": "Telegram Trigger",
        "webhookId": "7ce0db74-07e6-41eb-ba53-6989522480e5",
        "credentials": {
          "telegramApi": {
            "id": "OyFER1HQ3pQ9pGrQ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "Eres un asistente de consulta de datos y tienes que ofrecerles los servicios que se encuentran en la base de datos ubicada en google sheet, mustrale los cursos disponibles, los tutores, el horario de los cursos",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -48,
          -448
        ],
        "id": "1a0d2254-ff2f-47b4-a8a5-b4d252935705",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1.1,
        "position": [
          -192,
          -192
        ],
        "id": "02820f69-1ab1-4cd4-ad3f-3bd46143b611",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "C7BcOO8Hykhx2hPf",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "\"Utiliza esta herramienta cuando el usuario pregunte por los cursos disponibles, planes de estudio o tutores. Devuelve una tabla donde sse mustren los tutores, cursos y horarios.\"",
          "documentId": {
            "__rl": true,
            "value": "1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RTZiuOpuPfLvGUFarwTBgEM1qIZuySJh6iHOSdvnE9E/edit#gid=0"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          96,
          -192
        ],
        "id": "d6d4d918-0f40-4ab5-8620-85eaa57fa355",
        "name": "Get row(s) in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "JWNlvr40QuAg3HpX",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "={{ $json.output }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          240,
          -384
        ],
        "id": "4410d7e0-b021-4a73-bcfe-28212488bdd0",
        "name": "Send a text message",
        "webhookId": "85b5875c-e20f-4d53-a3db-7f94c163843e",
        "credentials": {
          "telegramApi": {
            "id": "OyFER1HQ3pQ9pGrQ",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "AQ.Ab8RN6I9iIhCqzGbgY7YwoymBP9ItpQUGHR_grl0Akimia1udA"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.4,
        "position": [
          -16,
          -192
        ],
        "id": "77e3e096-4d97-46b3-854c-3a232e70eff6",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "32519937-54cf-4496-917b-b963965e9f01",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "Hola",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -464,
          -480
        ],
        "id": "91f7c9f1-6036-4517-b03a-271c5405e8d2",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "Bienvenido a TutorBot  ¿Qué deseas hacer?",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "solicitar tutoria",
                      "additionalFields": {
                        "callback_data": "opcion_solicitar"
                      }
                    },
                    {
                      "text": "Mis tutorias",
                      "additionalFields": {
                        "callback_data": "opcion _mis_tutorias"
                      }
                    },
                    {
                      "text": "Cancelar tutoria",
                      "additionalFields": {
                        "callback_data": "opcion_cancelar"
                      }
                    },
                    {
                      "text": "Mi perfil",
                      "additionalFields": {
                        "callback_data": "opcion_perfil"
                      }
                    }
                  ]
                }
              }
            ]
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -224,
          -528
        ],
        "id": "6a768ef3-ed42-4849-b164-fe83f69da148",
        "name": "Send a text message1",
        "webhookId": "a866c943-4b66-4a6a-b06a-47e5e6ffa36d",
        "credentials": {
          "telegramApi": {
            "id": "OyFER1HQ3pQ9pGrQ",
            "name": "Telegram account"
          }
        }
      }
    ],
    "pinData": {},
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "versionId": "0796ac5a-b6c7-4925-8e98-dc6b12b0d1c3",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "686918d374c22fefb31dc874dea86fd96e64ca89042128fb2438646c1dcb657d"
    },
    "nodeGroups": [],
    "id": "WGKaDCzi20w6fEuB",
    "tags": []
  }